@import "tailwindcss";
h1{
    font-size: 100px;
    position: absolute;
    top:45%;
    left:50%;
    font-weight:600;
    text-decoration: underline;
    transform: translate(-50%, -50%);
    white-space: noWrap;
}